* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --primary-color: #c6c3c3;
  --seconsd-color: #ffffff;
  --black-color: #000000;
}

body {
  background-image: url("../../../public/img/no-matter-forgotten-memory-dull-wallpaper-preview.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.login_box {
  position: relative;
  width: 450px;
  backdrop-filter: blur(25px);
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 7.5em 2.5em 4em 2.5em;
  color: var(--seconsd-color);
}

.login_header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  width: 140px;
  height: 70px;
  border-radius: 0 0 20px 20px;
}

.login_header span {
  font-size: 30px;
  color: var(--black-color);
}

.login_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
}

.login_header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  background: transparent;
}

.input_field:focus .label,
.input_field:valid ~ .label {
  position: absolute;
  top: -10px;
  left: 20px;
  font-size: 14px;
  border-radius: 30px;
  color: var(--black-color);
  padding: 0 10px;
}

.input_box {
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.input_field {
  width: 100%;
  height: 55px;
  font-size: 16px;
  background: transparent;
  color: var(--seconsd-color);
  padding-inline: 20px 50px;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  outline: none;
}

#email {
  margin-bottom: 10px;
}

.label {
  position: absolute;
  top: 15px;
  left: 20px;
  transition: 0.2s;
}

.input_submit {
  width: 100%;
  height: 45px;
  background: #ececec;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

.input_submit:hover {
  background: var(--seconsd-color);
}

.register {
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
}

.register span {
  color: white;
}

@media only screen and (max-width: 564px) {
  .wrapper {
    padding: 20px;
  }
  .login_box {
    padding: 7.5em 1.5em 4em 1.5em;
  }
}
